<h1>Update Information for: </h1><br>
<h2><%= @shelter.name %></h2>



<%= form_tag("/shelters/#{@shelter.id}/edit", method: :patch) do%>
  <label>Name: </label>
  <%= text_field_tag 'shelter[name]', @shelter.name, :required => true%>
  <br>
  <br>
  <label>Address: </label>
  <%= text_field_tag 'shelter[address]', @shelter.address, :required => true%>
  <label>City: </label>
  <%= text_field_tag 'shelter[city]', @shelter.city, :required => true%>
  <label>State: </label>
  <%= text_field_tag 'shelter[state]', @shelter.state, :required => true%>
  <label>Zip: </label>
  <%= text_field_tag 'shelter[zip]', @shelter.zip, :required => true%>
  <br>
  <br>
  <%= submit_tag %>
<% end %>