<h1>Update Information for: </h1><br>
<h2><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h2>



<%= form_tag("/shelters/#{@shelter.id}", method: :patch) do%>
  <%= label_tag 'Name:' %>
  <%= text_field_tag 'name', @shelter.name, :required => true%>
  <br>
  <br>
  <%= label_tag 'Address:' %>
  <%= text_field_tag 'address', @shelter.address, :required => true%>
  <%= label_tag 'City:' %>
  <%= text_field_tag 'city', @shelter.city, :required => true%>
  <%= label_tag 'State:' %>
  <%= text_field_tag 'state', @shelter.state, :required => true%>
  <%= label_tag 'Zip:' %>
  <%= text_field_tag 'zip', @shelter.zip, :required => true%>
  <br>
  <br>
  <%= submit_tag "Update Shelter"%>
<% end %>