<h1>Update Information for: </h1><br>
<h2><%= @shelter.name %></h2>



<%= form_tag("/shelters/#{@shelter.id}/edit", method: :patch) do%>
  <%= label_tag 'Name:' %>
  <%= text_field_tag 'shelter[name]', @shelter.name, :required => true%>
  <br>
  <br>
  <%= label_tag 'Address:' %>
  <%= text_field_tag 'shelter[address]', @shelter.address, :required => true%>
  <%= label_tag 'City:' %>
  <%= text_field_tag 'shelter[city]', @shelter.city, :required => true%>
  <%= label_tag 'State:' %>
  <%= text_field_tag 'shelter[state]', @shelter.state, :required => true%>
  <%= label_tag 'Zip:' %>
  <%= text_field_tag 'shelter[zip]', @shelter.zip, :required => true%>
  <br>
  <br>
  <%= submit_tag "Update Shelter"%>
<% end %>