<h1>Input New Shelter</h1><br>

<%# What is the authenticity_token - When are we learning about it - etc -etc %>



<%= form_tag('/shelters') do%>
  <%= label_tag 'Name:'%>
  <%= text_field_tag 'shelter[name]', nil, :required => true%>
  <br>
  <br>
  <%= label_tag 'Address:'%>
  <%= text_field_tag 'shelter[address]', nil, :required => true%>
  <%= label_tag 'City:'%>
  <%= text_field_tag 'shelter[city]', nil, :required => true%>
  <%= label_tag 'State:'%>
  <%= text_field_tag 'shelter[state]', nil, :required => true%>
  <%= label_tag 'Zip:'%>
  <%= text_field_tag 'shelter[zip]', nil, :required => true%>
  <br>
  <%= submit_tag "Create Shelter" %>
<% end %>