<h1>Pets at <%= link_to @shelter.name, "/shelters/#{@shelter.id}" %></h1>
<%= button_to "Create Pet", "pets/new", method: :get%>

<div class="pet-block">
<% @shelter.pets.each do |pet| %>
  <section class="pet-bubble">
  <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
  <img src="<%= pet.image %>" class="pet-image">
  <ul>
    <li>Age: <%= pet.age %></li>
    <li>Description: <%= pet.description %></li>
    <li>Sex: <%= pet.gender %></li>
  </ul>
  <%= button_to "Update Pet", "/pets/#{pet.id}/edit", method: :get, id: "#{pet.name}", class: "up-button"  %>
  <%= button_to "Delete Pet", "/pets/#{pet.id}", method: :delete, id: "#{pet.name}-delete", class: "del-button"  %>
  </section>
<% end %>
</div>