<h1><%= @shelter.name %></h1><br><br>

<p>Address: <%= @shelter.address %>, <%= @shelter.city %> <%= @shelter.state %>, <%= @shelter.zip%></p>
<br>
<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
<a href="/shelters/<%= @shelter.id %>/pets">Pets Here</a>

<br><br>
<%= form_tag("/shelters/#{@shelter.id}", method: :delete) do%>
  <%= submit_tag(value="Delete Shelter") %>
<% end %>