<h1>Update Information for: </h1><br>
<h2><%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h2>



<%= form_tag("/pets/#{@pet.id}/edit", method: :patch) do%>
  <%= label_tag 'Image:' %>
  <%= text_field_tag 'image', @pet.image, :required => true%>
  <br>
  <br>
  <%= label_tag 'Name:' %>
  <%= text_field_tag 'name', @pet.name, :required => true%>
  <%= label_tag 'Description:' %>
  <%= text_field_tag 'description', @pet.description, :required => true%>
  <%= label_tag 'Age:' %>
  <%= text_field_tag 'age', @pet.age, :required => true%>
  <%= label_tag 'Sex:' %>
  <%= text_field_tag 'sex', @pet.sex, :required => true%>
  <br>
  <br>
  <%= submit_tag "Update Pet"%>
<% end %>