<h1>All Pets</h1>
<%# <a href="/shelters/new">Input New Shelter</a></br></br> %>

<% @pets.each do |pet| %>
  <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
  <img src="<%= pet.image %>">
  <ul>
    <li>Age: <%= pet.age %></li>
    <li>Sex: <%= pet.sex %></li>
    <li>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></li>
  </ul>
  <%= button_to "Update Pet", "/pets/#{pet.id}/edit", method: :get, id: "#{pet.name}", class: "up-button"  %>
  <%= button_to "Delete Pet", "/pets/#{pet.id}", method: :delete, id: "#{pet.name}-delete", class: "del-button"  %>
<% end %>