<h1>All Pets</h1>
<%# <a href="/shelters/new">Input New Shelter</a></br></br> %>

<% @pets.each do |pet| %>
  <h2>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
  <img src="<%= pet.image %>">
  <ul>
    <li>Age: <%= pet.approximate_age %></li>
    <li>Sex: <%= pet.sex %></li>
    <li>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></li>
  </ul>
<% end %>