<%= image_tag "#{@pet.image}" %>

<p>Name: <%= @pet.name %> </p>
<p>Description: <%= @pet.description %> </p>
<p>Age: <%= @pet.age %> </p>
<p>Sex: <%= @pet.sex %> </p>
<p>Status: <%= @pet.status %> </p>
