<%= image_tag "#{@pet.image}" %>

<p>Name: <%= @pet.name %> </p>
<p>Description: <%= @pet.description %> </p>
<p>Age: <%= @pet.age %> </p>
<p>Sex: <%= @pet.gender %> </p>
<%= button_to "Update Pet", "/pets/#{@pet.id}/edit", method: :get %>
<%= button_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>

